.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 15%;
  width: 85%;
  height: 4rem;
  background-color: white;
  box-shadow: 4px 5px 16px rgba(30, 30, 30, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  z-index: 8;
}

.searchBar{
  width: 90%;
  font: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.searchBar img{
  width: 24px;
  height: 24px;
}

.searchBar input{
  width: 90%;
  height: 100%;
  margin: 0 1.5rem;
  background-color: white;
  border: none;
  font-size: large;
}

.searchBar input:focus{
  border: none;
  outline: none;
}

.searchBar input::placeholder{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(183, 182, 182);
  font-size: large;
}